[submodule "watchvids"]
	path = watchvids
	url = https://github.com/mediocreeee/nodeNewVidsScript.git
[submodule "nodeRedditDownloader"]
	path = nodeRedditDownloader
	url = https://github.com/mediocreeee/nodeRedditDownloader
